<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>User Feedback</h1>
    <%= simple_format(@feedback.message) %>
    <p><strong><em>Woof Woof Woof</em></strong></p>
  </body>
</html>
