<div class="row" style="margin: 5px 0px;">
  <div class="col-md-4">
    <%= invite.invitee.first_name %>
  </div>
  <div class="col-md-6">
    <%= invite.invitee.email %>
  </div>
  <div class="col-md-2">
    <% if current_user == invite.inviter || current_user == invite.event.user %>
      <%= link_to 'Cancel', invite, method: :delete, data: { confirm: 'Are you sure that you want to cancel this invitation?' }, class: "btn btn-outline-danger btn-sm" %>
    <% end %>
  </div>
</div>
