
$('.modal-body.event_content').html('<%= escape_javascript(render :partial => 'found_dogs/form', locals: {found_dog: @found_dog, path: found_dogs_create_path, weight_options: Weight.all, button_name: "Submit the Found Dog Event"} ) %>')
$('#eventModal').modal('show')
$('.modal-title').text('Create a found dog event')

bindSelect2Elements(); // application.js

$(":file").filestyle({
  htmlIcon: '<span class="fa fa-file-image-o" style="margin-right: 5px;"></span>',
  btnClass: "btn-outline-success",
  text: "Choose Picture",
  buttonBefore: true
});
