<div class="row">
  <div class="col">
    <%= invite.invitee.first_name %>
  </div>
  <div class="col">
    <%= invite.invitee.email %>
  </div>
  <div class="col">
    <% if current_user == invite.inviter || current_user == invitee.group.owner %>
      <%= link_to 'Cancel', invite, method: :delete, data: { confirm: 'Are you sure that you want to cancel this invitation?' }, class: "btn btn-outline-danger btn-sm" %>
    <% end %>
  </div>
</div>
