
<div class="card">
  <div class="card-block">
    
    <div class="tab-content" style="background-color: #fafbfc; border-style: solid; border-width: 1px; border-radius: 5px; border-color: #ddd;">
    <%= render 'groups/individual_chat', group: @group, i: 0, chat: @chat, message: @message %>
    </div><!-- tab content -->
  </div><!-- card block -->
</div><!-- card -->

<%= javascript_tag do %>
    window.message_current_user_id = "<%= j current_user.id.to_s %>";
<% end %>

<script>
  createMessageChannel();
  // app/assets/javascripts/channels/messages.js

  messageForm();
  // app/assets/javascripts/messages_form.js
</script>