<table class="table">
  <tbody>
    <tr>
      <td class="label-td"><p class="text-muted"><strong>First Name</strong></p></td>
      <td class="field-td"><%=user.first_name%></td>
    </tr>
    <tr>
      <td class="label-td"><p class="text-muted"><strong>Last Name</strong></p></td>
      <td class="field-td"><%=user.last_name%></td>
    </tr>
    <tr>
      <td class="label-td"><p class="text-muted"><strong>username</strong></p></td>
      <td class="field-td"><%=user.email%></td>
    </tr>
    <tr>
      <td class="label-td"><p class="text-muted"><strong>Group Owner</strong></p></td>
      <td class="field-td"><i class="fa fa-<%=group.owner==user ? 'check' : 'times'%>" aria-hidden="true"></i></td>
    </tr>
  </tbody>
</table>
