<footer class="footer" style="background-color: #e3f2fd;">
    <div class="copyright" style="text-align: center">
    <!--The below line prints the 'W'' logo-->
    <%= link_to(image_tag("icon.png", class: 'image-responsive', width: 30, height: 30), root_path, :method => :get) %>
    Copyright &copy; 2017 Team Woof
    </div>
    <!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
</footer>