<!-- Use Cards -->

<!-- <div id = 'about-team'>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-md-3 profile-intro'>
            </div>
            <div class = 'col-md-3 profile-intro'>
            </div>
            <div class = 'col-md-3 profile-intro'>
                Paarth Lakhani
            </div>
            <div class = 'col-md-3 profile-intro'>
            </div>
        </div>
    </div>
</div> -->

<div class = 'container' id = 'about-team'>
    <div class = 'card-deck'>
        <div class = 'card border-dark mb-3 text-center'>
            <!-- Try rounded-circle class for the img tag below -->
            <img class = 'card-img-top' src = '' alt = 'Profile Pic'>
            <div class = 'card-body'>
                <h4 class = 'card-title'>Andrew Emrazian</h4>
                <h6 class = 'card-subtitle'>Web Developer</h6>
                <p class = 'card-text'>
                    Your job duties
                </p>
                <div class = "card-footer">
                    Contact: Andrew Email
                </div>
                <a href = '' >LinkedIn Profile</a>
            </div>
        </div>

        <div class = 'card border-dark mb-3 text-center'>
            <img class = 'card-img-top' src = '' alt = 'Profile Pic'>
            <div class = 'card-body'>
                <h4 class = 'card-title'>Diego Pardo</h4>
                <h6 class = 'card-subtitle'>iOS Developer</h6>
                <p class = 'card-text'>
                    Your job duties
                </p>
                <div class = "card-footer">
                    Contact: paarth.lakhani@utah.edu
                </div>
                <a href = '' >LinkedIn Profile</a>
            </div>
        </div>

        <div class = 'card border-dark mb-3 text-center'>
            <img class = 'card-img-top' src = '' alt = 'Profile Pic'>
            <div class = 'card-body'>
                <h4 class = 'card-title'>Paarth Lakhani</h4>
                <h6 class = 'card-subtitle'>Web Developer</h6>
                <p class = 'card-text'>
                    Your job duties
                </p>
                <div class = "card-footer">
                    Contact: Diego Email
                </div>
                <a href = '' >LinkedIn Profile</a>
            </div>
        </div>

        <div class = 'card border-dark mb-3 text-center'>
            <img class = 'card-img-top' src = '' alt = 'Profile Pic'>
            <div class = 'card-body'>
                <h4 class = 'card-title'>Andy Cho</h4>
                <h6 class = 'card-subtitle'>iOS Developer</h6>
                <p class = 'card-text'>
                    Your job duties
                </p>
                <div class = "card-footer">
                    Contact: Andy Email
                </div>
                <a href = '' >LinkedIn Profile</a>
            </div>
        </div>    

    </div>
</div>