<div id = 'map-filter-form'>
    <form class = 'form'>

            <div class = "row">

                <div class = "col-md-2">
                    <div class = "form-check-inline">
                        <label class = "form-check-label">
                            <input class = "form-check-input filter_map" type = "checkbox" name = "filter_events[]" id = "filter_lost" value = "Lost Dog" onchange = "gather_filters()" disabled>
                            Lost Dog
                        </label>
                    </div>
                </div>
            
                <div class = "col-md-2">
                    <div class = "form-check-inline">
                        <label class= "form-check-label">
                            <input class = "form-check-input filter_map" type = "checkbox" name = "filter_events[]" id = "filter_found" value = "Found Dog" onchange = "gather_filters()" disabled>
                            Found Dog
                        </label>
                    </div>
                </div>

            </div>

            <div class = "row">

                <div class = "col-md-2">
                    <div class = "form-check-inline">
                        <label class= "form-check-label">
                            <input class = "form-check-input filter_map" type = "checkbox" name = "filter_events[]" id = "filter_post_event" value = "Around Me" onchange = "gather_filters()" disabled>
                            Around Me Events
                        </label>
                    </div>
                </div>

                <div class = "col-md-2">
                    <div class = "form-check-inline">
                        <label class= "form-check-label">
                            <input class = "form-check-input filter_map" type = "checkbox" name = "filter_events[]" id = "filter_all" value = "All" onchange = "disable_other_filters()" checked>
                            All Events
                        </label>
                    </div>
                </div>

            </div>

            <div class = "row">
            
                <div class = "col-md-2">
                    <div class = "form-check-inline">
                        <label class= "form-check-label">
                            <input class = "form-check-input filter_map" type = "checkbox" name = "filter_events[]" id = "filter_personal" value = "Personal" onchange="disable_my_filters(<%= current_user %>);" disabled>
                            My Posted Events
                        </label>
                    </div>
                </div>

                <div class = "col-md-2">
                    <%= link_to 'Lost Dog', lost_dogs_new_path, class: 'btn btn-primary',data: {:remote => true, 'data-toggle' => 'modal', 'data-target'=>'#eventModal'} %>
                </div>

                <div class = "col-md-2">
                    <%= link_to 'Found Dog', found_dogs_new_path, class: 'btn btn-primary',data: {:remote => true, 'data-toggle' => 'modal', 'data-target'=>'#eventModal'} %>
                </div>

                <div class = "col-md-2">
                    <%= link_to 'AroundMe', post_events_new_path, class: 'btn btn-primary',data: {:remote => true, 'data-toggle' => 'modal', 'data-target'=>'#eventModal'} %>
                </div>

                <!-- <div class = "col-md-2">
                    <button type="button" class="btn btn-primary" onclick = 'open_event_section()'> Open Right Menu </button>
                </div> -->
                
            </div>

    
    </form>
</div>