<div class="row" style="margin: 5px 0px;" id="event_user_<%= user.id %>">
  <div class="col-md-4">
    <%= user.first_name %>
  </div>
  <div class="col-md-4">
    <%= user.last_name %>
  </div>
  <div class="col-md-4">
    <%= user.email %>
  </div>
</div>
