<div>
  <h4 align="center">Direct Messages</h4>
  <% @messaging_users.each do |user| %>
    <%= link_to 'View Messages', lost_and_found_view_message_from_user_modal_body_event_path(other_user: user.id), class: "btn btn-info", style: 'margin-top: 5px;' %>
  </br>
  <% end %>
</div>
