
    <div class = 'row'>
        <div class = 'col-sm-10'>
            <div id = 'map'></div>
        </div>
        <div class = 'col-sm-2'>
            <%= render 'events/around_side_menu' %>
        </div>
    </div>

<div class="modal" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="eventLabel">Dog Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body event_content">
        </div>
        </div>
    </div>

</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGAMfpUVwJJYpahbklrZ0Q_RPU0NgpuP4&callback=initMap">
</script>