<div class = 'row'>
    <div class = 'col-sm-12'>
        <div id = 'map'>
        </div>
    </div>
    <div id = "event-section">
            <div class = 'row' id = "event-content">
            </div>
    </div>
</div>

<div class = 'row' id = 'google-filter-button'>
    <button type = "button" class = "btn btn-sm btn-primary btn-block" onclick = "open_filter_menu();" >
        Your Google Map Menu
    </button>
</div>

<div class = 'row'>
    <%= render partial: 'events/around_side_menu', locals: {current_user: @current_user_id}  %>
</div>

<!-- removed the tabindex = -1 from the below div to account for select2 -->
<div class="modal" id="eventModal" role="dialog" aria-labelledby="eventLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="eventLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body event_content">
        </div>
        </div>
    </div>

</div>
<%= render 'shared/image_modal' %>
<%= render 'pets/pet_image_modal' %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGAMfpUVwJJYpahbklrZ0Q_RPU0NgpuP4&callback=initMap">
</script>
