/*$('.modal-body.event_content').html('<%= escape_javascript(render :partial => 'lost_dogs/form', locals: {lost_dog: @lost_dog, path: lost_dog_path(@lost_dog.id), button_name: "Update the Lost Dog Event"} ) %>')

$('#eventModal').modal('show')
$('.modal-title').text('Editing the lost dog event')*/

$("#event-content").html('<%= escape_javascript(render :partial => 'lost_dogs/form', locals: {lost_dog: @lost_dog, path: lost_dog_path(@lost_dog.id), button_name: "Update the Lost Dog Event"} ) %>');

$('#lost_close_button').html('<div class = "row pt-3">'+
                            '<div class = "col-md-4 offset-md-3">'+
                                '<button type="button" class="btn btn-success" aria-label="Close" onclick = "close_event_section()">'+
                                    'Close Window'+
                                '</button>'+
                            '</div>'+
                            '</div>');

$("#event-section").css("width", "450px");