
// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// @import "*";
// @import "**/*";
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.

//= require_self
//= require_tree .

@import "bootstrap";
@import "font-awesome";
@import 'select2';
@import 'select2-bootstrap';
@import 'bootstrap-social';
@import "datatables";

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Make sure you want to do this for overflow */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#outer-container{
  min-height: 100%;
  position: relative;
}

#body-page{
  border-bottom: 50px; /* height of footer */
}

#home-page{
    //background-color: #cdbaba;
    background-color: white;
    background-image: image-url('/assets/dogBackground5.jpg');
    background-size: 120%;
}

#sign-in{
    background-color: white;
    background-image: image-url('/assets/dogBackground6.jpg');
    background-size: 120%;
}

#user-profile {
    background-color: white;
    background-image: image-url('/assets/dogBackground4.jpg');
    background-size: 120%;
}

.form-group {
  margin: 0px;
}

.text-muted {
  margin: 0px;
}

/* You have changed this also. Make sure the correctness */
#main-content{
  width: 100%;
  /* border-left: 2px solid black; */
  padding-bottom: 35px;
  position: relative;
  left: 0;
  right: 0;
}

.container-top-navbar {
  margin: 0;
  padding: 0;
  width: 100%;
}

#feedback_btn {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

textarea {
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
}

#image_modal .modal-lg {
    max-width: 40% !important;
}
