// Place all the styles related to the around_me controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Optional: Makes the sample page fill the window. */

#map
{
  position: initial;
  width: 2000px;
  height: 750px;
  margin-top: 30px;
  margin-right: 50px;
  margin-left:50px;
  margin-bottom:50px;
  padding:0px
}

/* Optional: Makes the sample page fill the window. */
/*html, body 
{
  height: 400px;
}*/