// Place all the styles related to the colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.badge-brown {
  background-color: #685633;
}

.badge-red {
  background-color: #b73131;
}

.badge-gold {
  background-color: #e2b544;
}

.badge-yellow {
  background-color: #dbd40a;
}

.badge-cream {
  background-color: #d6d4a2;
}

.badge-black {
  background-color: #30302e;
}

.badge-blue {
  background-color: #9a9bed;
}

.badge-white {
  color: #555555;
  background-color: #f7f7f7;
  border: 1px solid #555555;
}