// Place all the styles related to the around_me controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Optional: Makes the sample page fill the window. */

#map
{
  position: initial;
  width: 100%;
  height: 100vh;
  margin: 0px 10px 10px 20px;
  background-color: grey;
  
}



/* Optional: Makes the sample page fill the window. */
/*html, body 
{
  height: 400px;
}*/