// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages{
    height: 65vh;
    border-style: solid;
    border-width: 1px;
    overflow-y: scroll;
}

#myMessages{
    background-color: #FFFFFF;
    width: 100%;
}
