#sign-up-heading {
    padding-bottom: 40px;
    color: #585858;
}

#sign-up-form {
    border-radius: 25px;
    background-color: rgba(224,224,224, 0.7);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 100px;
    position: relative;
}

.sign-up-form-elements {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

#custom-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #e3f2fd;
}

#about-project{
    background-color: #F5F5F5;
    min-height: 100vh;
}

#about-team{
    padding: 40px;
    border: solid black 1px;
    margin-top: 25px;
}