// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-in-form {
    border-radius: 25px;
    background-color: rgba(224,224,224, 0.7);
    margin-top: 100px;
    padding: 100px;
    position: relative;
}

#sign-in-heading {
    padding-bottom: 40px;
    color: #585858;
}

.sign-in-form-elements {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-tabs > li > a{
    color: black;
    font-weight: 900px;
}

#sidebar{
    margin-left: -250px;
    background-color:#A8A8A8;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    color: white;
    border-top: 2px black;
}

#sidebar.active{
    margin-left: 0px;
}

.nav-tabs > li > a:hover{
    /*background-color: #C0C0C0;*/
    background-color: #808080;
    color: #FFFAFA;
}

#profile{
    padding: 20px;
    // border-bottom: 1px solid black;
}

.profile-pic{
    border: 1px solid black;
}

.label-td {
  width: 30%;
}

.field-td {
  width: 70%;
}

#user_profile_view {
    border-radius: 25px;
    background-color: rgba(224,224,224, 0.7);
    width: auto;
    margin: 50px;
    padding: 100px;
    position: relative;
}

#user_profile_edit {
    border-radius: 25px;
    background-color: rgba(224,224,224, 0.7);
    width: auto;
    margin: 50px;
    padding: 100px;
    position: relative;
}

#user_update_password {
    border-radius: 25px;
    background-color: rgba(224,224,224, 0.7);
    width: auto;
    margin: 50px;
    padding: 100px;
    position: relative;
}
