<div>
  <h5>Chat with your peers</h5>

  <% if @chat.messages.any? %>
    <div id="messages">
      <%= render partial: 'messages/message', collection: @chat.messages.order(id: :asc)%>
    </div>
  <%else%>
    <div id="messages">
    </div>
  <%end%>
</div>
<%= render partial: 'messages/message_form', locals: {message: @message, chat: @chat}%>
</div>

<%= javascript_tag do %>
    window.message_current_user_id = "<%= j current_user.id.to_s %>";
<% end %>

<script>
  createMessageChannel();
  // app/assets/javascripts/channels/messages.js 
  messageForm();
  // app/assets/javascripts/messages_form.js
</script>